body {
    background-color: lightblue;
}

.main div {
    position: absolute;
    left: 50%;
    top: 50%;
}

.head {
    width: 210px;
    height: 220px;
    margin-left: -230px;
    margin-top: -220px;
    background-color: #fddbb7;
    border-radius: 300px / 270px 200px 190px 200px;
    transform: rotate(195deg);
}
.eye1 {
    width: 20px;
    height: 45px;
    margin-left: -10px;
    margin-top: 0px;
    background-color: black;
    border-radius: 100%;
    transform: rotate(185deg);
}
.eye2 {
    width: 20px;
    height: 45px;
    margin-left: -75px;
    margin-top: 0px;
    background-color: black;
    border-radius: 100%;
    transform: rotate(185deg);
}
.mouth {
    width: 45px;
    height: 6px;
    margin-left: -50px;
    margin-top: -60px;
    border: solid 3.5px black;
    border-color: black transparent transparent transparent;
    border-radius: 50%/100% 100% 0 0;
    transform: rotate(5deg);
}

.ear {
    width: 90px;
    height: 70px;
    margin-left: -280px;
    margin-top: -180px;
    background-color: #fddbb7;
    border-radius: 200px / 220px 150px 160px 200px;
    transform: rotate(255deg);
}

.left-hair {
    width: 10px;
    height: 40px;
    margin-left: -240px;
    margin-top: -115px;
    background-color: black;
    border-color:#000 transparent transparent transparent;
    border-radius: 100px / 190px 100px 120px 170px;
    transform: rotate(355deg);
}
.left-hair2 {
    width: 90px;
    height: 75px;
    margin-left: -260px;
    margin-top: -214px;
    background-color: black;
    border-radius: 100px / 120px 0px 130px 100px;
    transform: rotate(350deg);
}
.left-hair3 {
    width: 35px;
    height: 80px;
    margin-left: -220px;
    margin-top: -210px;
    background-color: black;
    border-radius: 100%;
    transform: rotate(1deg);
}
.left-hair4 {
    width: 65px;
    height: 80px;
    margin-left: -215px;
    margin-top: -220px;
    background-color: black;
    border-radius: 100px / 120px 20px 140px 150px;
    transform: rotate(350deg);
}
.left-hair5 {
    width: 30px;
    height: 50px;
    margin-left: -105px;
    margin-top: -214px;
    background-color: black;
    border-radius: 60px / 10px 0px 100px 100px;
    transform: rotate(20deg);
}
.left-hair6 {
    width: 35px;
    height: 60px;
    margin-left: -85px;
    margin-top: -203px;
    background-color: black;
    border-radius: 70px / 200px 200px 0px 20px;
    transform: rotate(205deg);
}
.left-hair7 {
    width: 30px;
    height: 45px;
    margin-left: -57px;
    margin-top: -186px;
    background-color: black;
    border-radius: 100px / 190px 200px 0px 130px;
    transform: rotate(218deg);
}
.cap {
    width: 250px;
    height: 200px;
    margin-left: -250px;
    margin-top: -290px;
    background-color: #fe1a1b;
    border-radius: 150px / 140px 150px 100px 100px;
    transform: rotate(10deg);
}
.top {
    width: 40px;
    height: 30px;
    margin-left: -130px;
    margin-top: -294px;
    background-color: white;
    border-radius: 150px / 100px;
    transform: rotate(10deg);
}
.brim {
    width: 160px;
    height: 80px;
    margin-left: -185px;
    margin-top: -25px;
    background-color: #436ab2;
    border-radius: 160px / 80px 50px 70px 70px;
    transform: rotate(345deg);
}
.brim-inside {
    width: 150px;
    height: 40px;
    margin-left: -175px;
    margin-top: -7px;
    background-color: #1e4980;
    border-radius: 160px / 70px 40px 60px 60px;
    transform: rotate(340deg);
}