body {
    background-color: rgb(211, 217, 241);
}

/* fit stuff */
.main div {
    position: absolute;
    left: 50%;
    top: 60%;
}
.torso div {
    position: absolute;
    left: 50%;
    top: 50%;
}
.head div {
    position: absolute;
    left: 50%;
    top: 50%;
}
.cap div {
    position: absolute;
    left: 50%;
    top: 50%;
}
.pkBall div {
    position: absolute;
    left: 50%;
    top: 50%;
}
.left-arm div {
    position: absolute;
    left: 50%;
    top: 50%;
}
.right-arm div {
    position: absolute;
    left: 50%;
    top: 50%;
}
.yoyo div {
    position: absolute;
    left: 50%;
    top: 50%;
}
/* fit stuff */

.head {
    width: 210px;
    height: 220px;
    margin-left: -240px;
    margin-top: -240px;
    background-color: #fddbb7;
    border-radius: 300px / 270px 210px 190px 130px;
    transform: rotate(195deg);
}
.eye1 {
    width: 20px;
    height: 45px;
    margin-left: -10px;
    margin-top: 0px;
    background-color: black;
    border-radius: 100%;
    transform: rotate(185deg);
}
.eye2 {
    width: 18px;
    height: 45px;
    margin-left: -80px;
    margin-top: -6px;
    background-color: black;
    border-radius: 100%;
    transform: rotate(185deg);
}
.mouth {
    width: 50px;
    height: 3px;
    margin-left: -50px;
    margin-top: -55px;
    border: solid 3.5px black;
    border-color: black transparent transparent transparent;
    border-radius: 50%/100% 100% 0 0;
    transform: rotate(10deg);
}
.ear {
    width: 90px;
    height: 70px;
    margin-left: -290px;
    margin-top: -190px;
    background-color: #fddbb7;
    border-radius: 200px / 220px 150px 160px 200px;
    transform: rotate(255deg);
}

.hair {
    width: 10px;
    height: 40px;
    margin-left: -250px;
    margin-top: -135px;
    background-color: black;
    border-color:#000 transparent transparent transparent;
    border-radius: 100px / 190px 100px 120px 170px;
    transform: rotate(355deg);
}
.hair2 {
    width: 75px;
    height: 75px;
    margin-left: -270px;
    margin-top: -234px;
    background-color: black;
    border-radius: 100px / 120px 5px 130px 100px;
    transform: rotate(350deg);
}
.hair3 {
    width: 30px;
    height: 80px;
    margin-left: -230px;
    margin-top: -230px;
    background-color: black;
    border-radius: 50%;
    transform: rotate(1deg);
}
.hair4 {
    width: 60px;
    height: 70px;
    margin-left: -225px;
    margin-top: -239px;
    background-color: black;
    border-radius: 20px 0px 100px 0px;
    transform: rotate(356deg);
}
.hair5 {
    width: 30px;
    height: 50px;
    margin-left: -115px;
    margin-top: -237px;
    background-color: black;
    border-radius: 60% / 20% 0 50% 50%;
    transform: rotate(24deg);
}
.hair6 {
    width: 35px;
    height: 60px;
    margin-left: -96px;
    margin-top: -228px;
    background-color: black;
    border-radius: 70px / 200px 200px 10px 10px;
    transform: rotate(206deg);
}
.hair7 {
    width: 30px;
    height: 45px;
    margin-left: -70px;
    margin-top: -216px;
    background-color: black;
    border-radius: 50px / 100px 100px 0px 20px;
    transform: rotate(210deg);
}
.cap {
    width: 260px;
    height: 210px;
    margin-left: -264px;
    margin-top: -320px;
    background-color: #fe1a1b;
    border-radius: 150px / 140px 150px 100px 100px;
    transform: rotate(10deg);
}
.top {
    width: 40px;
    height: 30px;
    margin-left: -140px;
    margin-top: -324px;
    background-color: white;
    border-radius: 150px / 100px;
    transform: rotate(10deg);
}
.brim {
    width: 190px;
    height: 80px;
    margin-left: -195px;
    margin-top: -25px;
    background-color: #436ab2;
    border-radius: 160px / 80px 70px 0px 60px;
    transform: rotate(345deg);
}
.brim-inside {
    width: 150px;
    height: 45px;
    margin-left: -185px;
    margin-top: 0px;
    background-color: #1e4980;
    border-radius: 160px / 80px 70px 0px 60px;
    transform: rotate(342deg);
}
/* shirt */
.shirt {
    width: 220px;
    height: 220px;
    margin-left: -250px;
    margin-top: -80px;
    background-color: #ffdc28;
    border-radius: 100px / 100px 100px 30px 40px;
    transform: rotate(350deg);
}
.stripe1 {
    width: 175px;
    height: 25px;
    margin-left: -65px;
    margin-top: 60px;
    border-color: #436ab2;
    background: #436ab2;
    border-radius: 120px / 10px 0px 0px 0px;
    transform: rotate(deg);
}
.curve1 {
    width: 70px;
    height: 30px;
    margin-left: -132px;
    margin-top: -8px;
    border-color: #436ab2;
    background: #436ab2;
    border-radius: 80px / 20px 0px 20px 10px;
    transform: rotate(357deg);
}
.stripe2 {
    width: 170px;
    height: 26px;
    margin-left: -60px;
    margin-top: 8px;
    background: #436ab2;
    border-radius: 120px / 4px 0px 0px 0px;
    transform: rotate(358deg);
}
.curve2 {
    width: 70px;
    height: 30px;
    margin-left: -135px;
    margin-top: -12px;
    background: #436ab2;
    border-radius: 80px / 20px 0px 50px 0px;
}
.curve3 {
    width: 150px;
    height: 20px;
    margin-left: -137px;
    margin-top: 10px;
    background: #ffdc28;
    border-radius: 50% / 60% 60% 0 0;
}
.stripe3 {
    width: 130px;
    height: 25px;
    margin-left: -21px;
    margin-top: -38px;
    background: #436ab2;
    border-radius: 80px / 0px 5px 0px 0px;
    transform: rotate(358deg);
}
.curve4 {
    width: 100px;
    height: 40px;
    margin-left: -155px;
    margin-top: -14px;
    background: #436ab2;
    border-radius: 80px / 20px 3px 0px 0px;
}
.curve5 {
    width: 150px;
    height: 20px;
    margin-left: -155px;
    margin-top: 8px;
    background: #ffdc28;
    border-radius: 50% / 60% 60% 0 0;
}
.bottom {
    width: 200px;
    height: 30px;
    margin-left: -108px;
    margin-top: 80px;
    background-color: #1e4980;
    border-radius: 50% / 50% 50% 40% 60%;
}
/* final shirt */
/* backpack */
.backpack {
    width: 140px;
    height: 180px;
    margin-left: -295px;
    margin-top: -40px;
    background-color: #f8ae35;
    border-radius: 100px / 140px 100px 20px 90px;
    transform: rotate(5deg);
}
.pocket1 {
    width: 200px; 
    height: 100px;
    margin-left: -98px;
    margin-top: -105px;
    border: solid 12px #954e0d;
    border-color: #954e0d transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    transform: rotate(325deg);
}
.pocket2 {
    width: 10px; 
    height: 30px;
    margin-left: -72px;
    margin-top: -0px;
    background: #954e0d;
    border-radius: 100px / 30px 150px 20px 40px;
    transform: rotate(0deg);
}
.strap1 {
    width: 80px; 
    height: 100px;  
    margin-left: -145px;
    margin-top: -60px;
    border: solid 20px #954e0d;
    border-color: #954e0d transparent transparent transparent;
    border-radius: 30px 100px 10px 10px;
    transform: rotate(50deg);
}
.buckle {
    width: 15px; 
    height: 15px;  
    margin-left: -71px;
    margin-top: -65px;
    border: solid 5px #cec8c4;
    border-color: #cec8c4 transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    transform: rotate(155deg);
}
.strap2 {
    width: 50px; 
    height: 30px;  
    margin-left: -270px;
    margin-top: -5px;
    background: #954e0d;
    border-radius: 50%/ 100px 100px 10px 10px;
    transform: rotate(90deg);
}
/* right arm */
.sleeveR {
    width: 90px;
    height: 110px;
    margin-left: -265px;
    margin-top: -70px;
    background-color: #ffdc28;
    border-radius: 100px / 90px 100px 20px 110px;
    transform: rotate(315deg);
}
.sleeve-stripe1 {
    width: 75px;
    height: 20px;
    margin-left: -220px;
    margin-top: 0px;
    background: #436ab2;
    border-radius: 50% / 70% 70% 0% 30%;
    transform: rotate(310deg);
}
.sleeve-stripe2 {
    width: 50px;
    height: 30px;
    margin-left: -256px;
    margin-top: -10px;
    background: #436ab2;
    border-radius: 50% / 50% 0% 0% 0%;
    transform: rotate(310deg);
}
.sleeve-stripe3 {
    width: 70px;
    height: 30px;
    margin-left: -245px;
    margin-top: -35px;
    background: #436ab2;
    border-radius: 50% / 15% 20% 30% 0%;
    transform: rotate(313deg);
}
.sleeve-curve1 {
    width: 89px;
    height: 20px;
    margin-left: -252px;
    margin-top: -16px;
    background: #ffdc28;
    border-radius: 50% / 70% 30% 20% 30%;
    transform: rotate(312deg);
}
.sleeve-stripe4 {
    width: 60px;
    height: 25px;
    margin-left: -265px;
    margin-top: -59px;
    background: #436ab2;
    border-radius: 50% / 15% 100% 0% 0%;
    transform: rotate(315deg);
}
.sleeve-stripe5 {
    width: 60px;
    height: 25px;
    margin-left: -285px;
    margin-top: -35px;
    background: #436ab2;
    border-radius: 50% / 100% 100% 0% 0%;
    transform: rotate(300deg);
}
.sleeve-curve2 {
    width: 89px;
    height: 20px;
    margin-left: -281px;
    margin-top: -40px;
    background: #ffdc28;
    border-radius: 50% / 70% 100% 20% 0%;
    transform: rotate(310deg);
}
.armR {
    width: 60px;
    height: 80px;
    margin-left: -180px;
    margin-top: -10px;
    background-color: #fddbb7;
    border-radius: 100px / 20px 40px 120px 190px;
    transform: rotate(310deg);
}
.forearmR {
    width: 50px;
    height: 90px;
    margin-left: -150px;
    margin-top: -5px;
    background-color: #fddbb7;
    border-radius: 100px / 0px 140px 0px 190px;
    transform: rotate(305deg);
}
.palmR {
    width: 85px;
    height: 40px;
    margin-left: -110px;
    margin-top: 10px;
    background-color: #fddbb7;
    border-radius: 50% / 70% 30% 40% 40%;
    transform: rotate(0deg);
}
.finger1R {
    width: 20px;
    height: 50px;
    margin-left: -35px;
    margin-top: -4px;
    background-color: #fddbb7;
    border-radius: 50px / 0px 50px 0px 0px;
    transform: rotate(90deg);
}
.topfinger1R {
    width: 40px;
    height: 20px;
    margin-left: -22px;
    margin-top: 10px;
    background-color: #fddbb7;
    border-radius: 100px / 100px 60px 60px 40px;
    transform: rotate(170deg);
}
.finger2R {
    width: 18px;
    height: 45px;
    margin-left: -53px;
    margin-top: -8px;
    background-color: #fddbb7;
    border-radius: 50px / 40px 40px 0px 0px;
    transform: rotate(50deg);
}
.thumbR {
    width: 25px;
    height: 65px;
    margin-left: -50px;
    margin-top: 5px;
    background-color: #fddbb7;
    border-radius: 50px / 0px 70px 0px 40px;
    transform: rotate(130deg);
}
.thumbtopR {
    width: 35px;
    height: 24px;
    margin-left: -32px;
    margin-top: 40px;
    background-color: #fddbb7;
    border-radius: 50px / 40px 10px 0px 30px;
    transform: rotate(195deg);
}
.finger3R {
    width: 20px;
    height: 40px;
    margin-left: -90px;
    margin-top: 43px;
    background-color: #fddbb7;
    border-radius: 50% / 30% 30% 30% 30%;
    transform: rotate(60deg);
}
.finger4R {
    width: 25px;
    height: 30px;
    margin-left: -75px;
    margin-top: 40px;
    background-color: #fddbb7;
    border-radius: 50% / 30% 30% 60% 30%;
    transform: rotate(80deg);
}
.topfinger4R {
    width: 20px;
    height: 20px;
    margin-left: -55px;
    margin-top: 30px;
    background-color: #fddbb7;
    border-radius: 100px / 100px 60px 30px 40px;
    transform: rotate(165deg);
}
/* right arm */
/* left arm */
.sleeveL {
    width: 80px;
    height: 115px;
    margin-left: -100px;
    margin-top: -110px;
    background-color: #ffdc28;
    border-radius: 100px / 20px 40px 120px 0px;
    transform: rotate(70deg);
}
.stripe1L {
    width: 80px;
    height: 25px;
    margin-left: -40px;
    margin-top: -60px;
    background-color: #436ab2;
    border-radius: 50px / 10px 10px 0px 0px;
    transform: rotate(0deg);
}
.curve1L {
    width: 90px;
    height: 25px;
    margin-left: -50px;
    margin-top: -55px;
    background-color: #ffdc28;
    border-radius: 50px / 30px 10px 0px 0px;
    transform: rotate(0deg);
}
.stripe2L {
    width: 80px;
    height: 25px;
    margin-left: -40px;
    margin-top: -45px;
    background-color: #436ab2;
    border-radius: 50px / 10px 10px 0px 0px;
    transform: rotate(0deg);
}
.curve2L {
    width: 90px;
    height: 25px;
    margin-left: -50px;
    margin-top: -35px;
    background-color: #ffdc28;
    border-radius: 50px / 30px 10px 0px 0px;
    transform: rotate(0deg);
}
.stripe3L {
    width: 70px;
    height: 25px;
    margin-left: -30px;
    margin-top: -25px;
    background-color: #436ab2;
    border-radius: 50px / 10px 10px 0px 0px;
    transform: rotate(0deg);
}
.curve3L {
    width: 80px;
    height: 25px;
    margin-left: -40px;
    margin-top: -15px;
    background-color: #ffdc28;
    border-radius: 50px / 30px 10px 0px 0px;
    transform: rotate(0deg);
}
.armL {
    width: 55px;
    height: 145px;
    margin-left: -15px;
    margin-top: -155px;
    background-color: #fddbb7;
    border-radius: 100px / 90px 20px 50px 120px;
    transform: rotate(70deg);
}
.palmL {
    width: 72px;
    height: 80px;
    margin-left: 50px;
    margin-top: -150px;
    background-color: #fddbb7;
    border-radius: 50% / 70% 30% 40% 40%;
    transform: rotate(10deg);
}
.finger1L {
    width: 30px;
    height: 40px;
    margin-left: 55px;
    margin-top: -160px;
    background-color: #fddbb7;
    border-radius: 50% / 50% 60% 50% 20%;
    transform: rotate(deg);
}
.finger2L {
    width: 30px;
    height: 40px;
    margin-left: 68px;
    margin-top: -165px;
    background-color: #fddbb7;
    border-radius: 50% / 50% 60% 50% 20%;
    transform: rotate(10deg);
}
.finger3L {
    width: 20px;
    height: 30px;
    margin-left: 85px;
    margin-top: -165px;
    background-color: #fddbb7;
    border-radius: 50% / 50% 60% 50% 20%;
    transform: rotate(15deg);
}
.fingertop3L {
    width: 33px;
    height: 16px;
    margin-left: 90px;
    margin-top: -170px;
    background-color: #fddbb7;
    border-radius: 50% / 20% 40% 50% 10%;
    transform: rotate(340deg);
}
.finger4L {
    width: 19px;
    height: 30px;
    margin-left: 110px;
    margin-top: -155px;
    background-color: #fddbb7;
    border-radius: 50% / 40% 20% 0% 0%;
    transform: rotate(45deg);
}
.fingertop4L {
    width: 33px;
    height: 17px;
    margin-left: 120px;
    margin-top: -160px;
    background-color: #fddbb7;
    border-radius: 50% / 50% 40% 100% 100%;
    transform: rotate(345deg);
}
.thumbL {
    width: 25px;
    height: 30px;
    margin-left: 100px;
    margin-top: -100px;
    background-color: #fddbb7;
    border-radius: 50% / 50% 60% 50% 20%;
    transform: rotate(120deg);
}
.thumbtopL {
    width: 30px;
    height: 22px;
    margin-left: 115px;
    margin-top: -92px;
    background-color: #fddbb7;
    border-radius: 50px / 0px 60px 30px 10px;
    transform: rotate(15deg);
}
/* left arm */
/* pkBall */
.ball1 {
    width: 130px; 
    height: 130px;
    margin-left: 95px;
    margin-top: -220px;  
    border: solid 15px #fa71f6;
    border-color: #fa71f6;
    border-radius: 50% / 50%;
    transform: rotate(0deg);
}
.ball2 {
    width: 90px; 
    height: 90px;
    margin-left: -56px;
    margin-top: -56px;  
    border: solid 12px #fa71f6;
    border-color: #fa71f6;
    border-radius: 50% / 50%;
    transform: rotate(45deg);
}
.centerball {
    width: 70px; 
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;  
    background: #e5faf8;
    border-radius: 50% / 50%;
    transform: rotate(0deg);
}
.shine1 {
    width: 250px; 
    height: 8px;
    margin-left: -105px;
    margin-top: -10px;  
    background: #cdfffe;
    border-radius: 50% / 50%;
    transform: rotate(350deg);
}
.shine2 {
    width: 300px; 
    height: 10px;
    margin-left: -150px;
    margin-top: -10px;  
    background: #cdfffe;
    border-radius: 50% / 80%;
    transform: rotate(260deg);
}
.shine3 {
    width: 150px; 
    height: 10px;
    margin-left: -73px;
    margin-top: -10px;  
    background: #cdfffe;
    border-radius: 150px / 20px;
    transform: rotate(300deg);
}
.shine4 {
    width: 150px; 
    height: 10px;
    margin-left: -70px;
    margin-top: -5px;  
    background: #cdfffe;
    border-radius: 150px / 20px;
    transform: rotate(390deg);
}

/* pants */
.pants1 {
    width: 150px;
    height: 75px;
    margin-left: -100px;
    margin-top: 70px;
    background-color: #3b57a5;
    border-radius: 50px / 100px 20px 20px 150px;
    transform: rotate(165deg);
}
.pants2 {
    width: 85px;
    height: 85px;
    margin-left: -37px;
    margin-top: 85px;
    background-color: #3b57a5;
    border-radius: 50px / 20px 200px 200px 20px;
    transform: rotate(15deg);
}
.pants3 {
    width: 70px;
    height: 115px;
    margin-left: -50px;
    margin-top: 113px;
    background-color: #3b57a5;
    border-radius: 130px / 10px 120px 80px 0px;
    transform: rotate(45deg);
}
.pants4 {
    width: 110px;
    height: 80px;
    margin-left: -110px;
    margin-top: 122px;
    background-color: #3b57a5;
    border-radius: 50px / 0px 0px 20px 0px;
    transform: rotate(35deg);
}
.pants5 {
    width: 160px;
    height: 80px;
    margin-left: -210px;
    margin-top: 93px;
    background-color: #3b57a5;
    border-radius: 50px / 0px 0px 160px 20px;
    transform: rotate(167deg);
}
.pants6 {
    width: 80px;
    height: 40px;
    margin-left: -225px;
    margin-top: 110px;
    background-color: #3b57a5;
    border-radius: 100px / 50px 50px 240px 180px;
    transform: rotate(163deg);
}
.pants7 {
    width: 110px;
    height: 80px;
    margin-left: -170px;
    margin-top: 140px;
    background-color: #3b57a5;
    border-radius: 100px / 50px 50px 240px 180px;
    transform: rotate(145deg);
}
.pants8 {
    width: 130px;
    height: 100px;
    margin-left: -230px;
    margin-top: 120px;
    background-color: #3b57a5;
    border-radius: 100px / 30px 40px 30px 80px;
    transform: rotate(170deg);
}
.pants9 {
    width: 60px;
    height: 80px;
    margin-left: -225px;
    margin-top: 135px;
    background-color: #3b57a5;
    border-radius: 100px / 10px 10px 10px 10px;
    transform: rotate(125deg);
}
.pants10 {
    width: 110px;
    height: 40px;
    margin-left: -240.5px;
    margin-top: 159px;
    background-color: #3b57a5;
    border-radius: 100px / 10px 5px 120px 20px;
    transform: rotate(343deg);
}
.pants11 {
    width: 40px;
    height: 50px;
    margin-left: -229px;
    margin-top: 168px;
    background-color: #3b57a5;
    border-radius: 100px / 20px 0px 0px 20px;
    transform: rotate(15deg);
}
.pants12 {
    width: 60px;
    height: 65px;
    margin-left: -110px;
    margin-top: 200px;
    background-color: rgb(211, 217, 241);
    border-radius: 50px / 20px 0px 0px 0px;
    transform: rotate(40deg);
}
.pants_shadow1 {
    width: 80px;
    height: 60px;
    margin-left: -235px;
    margin-top: 155px;
    background-color: #193f70;
    border-radius: 80px 110px 50px 50px;
    transform: rotate(345deg);
}
.pants_shadow2 {
    width: 60px;
    height: 100px;
    margin-left: -190.5px;
    margin-top: 160px;
    background-color: #193f70;
    border-radius: 0px 100px 70px 0px;
    transform: rotate(340deg);
}
.thighR {
    width: 85px;
    height: 120px;
    margin-left: -235px;
    margin-top: 160px;
    background-color: #fddbb7;
    border-radius: 100px / 30px 30px 0px 100px;
    transform: rotate(45deg);
}
.shinR {
    width: 70px;
    height: 100px;
    margin-left: -245px;
    margin-top: 200px;
    background-color: #fddbb7;
    border-radius: 0px 0px 100px 70px;
    transform: rotate(135deg);
}
.sockR {
    width: 90px;
    height: 80px;
    margin-left: -220px;
    margin-top: 210px;
    background-color: white;
    border-radius: 100px / 0px 30px 0px 40px;
    transform: rotate(300deg);
}
.shoeR {
    width: 170px;
    height: 100px;
    margin-left: -250px;
    margin-top: 230px;
    background-color: #fe1a1b;
    border-radius: 60px 70px 90px 100px;
    transform: rotate(170deg);
}
.shoeR + .sole1R {
    width: 166px;
    height: 55px;
    margin-left: -239px;
    margin-top: 274px;
    background-color: #ffffff;
    border-radius: 100px / 100px 70px 130px 100px;
    transform: rotate(350deg);
}
.sole2R {
    width: 162px;
    height: 50px;
    margin-left: -235px;
    margin-top: 280px;
    background-color: #91a181;
    border-radius: 100px / 100px 60px 80px 60px;
    transform: rotate(350deg);
}
.shoelace1R {
    width: 8px;
    height: 20px;
    margin-left: -180px;
    margin-top: 225px;
    background-color: #ffffff;
    border-radius: 100px / 100px 50px 100px 70px;
    transform: rotate(300deg);
}
.shoelace2R {
    width: 4px;
    height: 10px;
    margin-left: -195px;
    margin-top: 230px;
    background-color: #ffffff;
    border-radius: 100px / 80px 10px 90px 120px;
    transform: rotate(290deg);
}
.shoelace3R {
    width: 15px;
    height: 20px;
    margin-left: -170px;
    margin-top: 215px;
    background-color: #ffffff;
    border-radius: 100px / 100px 50px 100px 70px;
    transform: rotate(300deg);
}
.shinL {
    width: 80px;
    height: 110px;
    margin-left: 20px;
    margin-top: 45px;
    background-color: #fddbb7;
    border-radius: 10px 100px 40px 50px / 0px 70px 50px 30px;
    transform: rotate(325deg);
}
.sockL {
    width: 79px;
    height: 90px;
    margin-left: 52px;
    margin-top: 100px;
    background-color: white;
    border-radius: 100px / 30px 0px 70px 70px;
    transform: rotate(325deg);
}
.shoe1L {
    width: 100px;
    height: 90px;
    margin-left: 65px;
    margin-top: 140px;
    background-color: #fe1a1b;
    border-radius: 40px 100px 90px 100px;
    transform: rotate(140deg);
}
.shoe2L{
    width: 100px;
    height: 89px;
    margin-left: 110px;
    margin-top: 103px;
    background-color: #fe1a1b;
    border-radius: 100px 40px 60px 150px / 100px 40px 60px 100px;
    transform: rotate(140deg);
}
.soleL {
    width: 150px;
    height: 50px;
    margin-left: 80px;
    margin-top: 164px;
    background-color: #ffffff;
    border-radius: 120px 150px 0px 0px;
    transform: rotate(140deg);
}
.shoelace1L {
    width: 6px;
    height: 35px;
    margin-left: 146px;
    margin-top: 117px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(325deg);
}
.shoelace2L {
    width: 6px;
    height: 30px;
    margin-left: 155px;
    margin-top: 116px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(325deg);
}
.shoelace3L {
    width: 6px;
    height: 27px;
    margin-left: 163px;
    margin-top: 113px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(325deg);
}
.shoelace4L {
    width: 6px;
    height: 24px;
    margin-left: 174px;
    margin-top: 110px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(325deg);
}
.shoelace5L {
    width: 10px;
    height: 20px;
    margin-left: 130px;
    margin-top: 120px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(147deg);
}
.shoelace6L {
    width: 10px;
    height: 20px;
    margin-left: 136px;
    margin-top: 135px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(160deg);
}
.shoelace7L {
    width: 5px;
    height: 12px;
    margin-left: 139px;
    margin-top: 138px;
    background-color: #fe1a1b;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(160deg);
}
.shoelace8L {
    width: 6px;
    height: 12px;
    margin-left: 132px;
    margin-top: 123px;
    background-color: #fe1a1b;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(147deg);
}
.shoelace9L {
    width: 6px;
    height: 20px;
    margin-left: 137px;
    margin-top: 116px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(360deg);
}
.shoelace10L {
    width: 6px;
    height: 30px;
    margin-left: 148px;
    margin-top: 125px;
    background-color: #ffffff;
    border-radius: 100px / 100px 100px 100px 70px;
    transform: rotate(110deg);
}
.fingerLoop {
    width: 15px;
    height: 19px;
    margin-left: -63px;
    margin-top: 16px;
    background-color: #ab735a;
    border-radius: 80%;
    transform: rotate(330deg);
}
.fingerLoop2 {
    width: 15px;
    height: 17px;
    margin-left: -61px;
    margin-top: 15px;
    background-color: #fddbb7;
    border-radius: 80%;
    transform: rotate(330deg);
}
.rope {
    width: 10px;
    height: 400px;
    margin-left: 62px;
    margin-top: -25px;
    background-color: #ab735a;
    border-radius: 30px 20px 0px 0px;
    transform: rotate(320deg);
}
.yoyobottom {
    width: 220px;
    height: 145px;
    margin-left: 160px;
    margin-top: 230px;
    background-color: #e1e0de;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoLoop {
    width: 210px;
    height: 130px;
    margin-left: 160px;
    margin-top: 230px;
    background-color: #ab735a;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyotop {
    width: 220px;
    height: 140px;
    margin-left: 145px;
    margin-top: 210px;
    background-color: #e1e0de;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoDesign {
    width: 190px;
    height: 100px;
    margin-left: 153px;
    margin-top: 220px;
    background-color: #43d94d;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoDesign2 {
    width: 160px;
    height: 85px;
    margin-left: 167px;
    margin-top: 225px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoDesign3 {
    width: 140px;
    height: 70px;
    margin-left: 175px;
    margin-top: 228px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoDesign4 {
    width: 120px;
    height: 60px;
    margin-left: 182px;
    margin-top: 231px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoDesign5 {
    width: 95px;
    height: 40px;
    margin-left: 192px;
    margin-top: 235px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoDesign6 {
    width: 20px;
    height: 30px;
    margin-left: 276px;
    margin-top: 230px;
    background: #43d94d;
    border-radius: 10px 0px 0px 10px;
    transform: rotate(265deg);
}
.yoyoDesign7 {
    width: 20px;
    height: 30px;
    margin-left: 225px;
    margin-top: 270px;
    background: #43d94d;
    border-radius: 10px 0px 0px 10px;
    transform: rotate(165deg);
}
.yoyoDesign8 {
    width: 70px;
    height: 30px;
    margin-left: 226px;
    margin-top: 255px;
    background: #43d94d;
    border-radius: 10px 10px 0px 0px;
    transform: rotate(143deg);
}
.yoyoS1 {
    width: 70px;
    height: 35px;
    margin-left: 204px;
    margin-top: 238px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoS2 {
    width: 55px;
    height: 25px;
    margin-left: 211px;
    margin-top: 241px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoS3 {
    width: 40px;
    height: 20px;
    margin-left: 218px;
    margin-top: 250px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoS4 {
    width: 36px;
    height: 19px;
    margin-left: 213px;
    margin-top: 250px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoS5 {
    width: 40px;
    height: 17px;
    margin-left: 218px;
    margin-top: 240px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(330deg);
}
.yoyoS6 {
    width: 38px;
    height: 19px;
    margin-left: 227px;
    margin-top: 238px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(335deg);
}
.yoyoS7 {
    width: 23px;
    height: 19px;
    margin-left: 238px;
    margin-top: 244px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(335deg);
}
.yoyoS8 {
    width: 28px;
    height: 15px;
    margin-left: 224px;
    margin-top: 251px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(324deg);
}
.yoyoS9 {
    width: 20px;
    height: 18px;
    margin-left: 217px;
    margin-top: 247px;
    background: #212121;
    border-radius: 50%;
    transform: rotate(335deg);
}
.yoyoS10 {
    width: 16px;
    height: 10px;
    margin-left: 227px;
    margin-top: 245px;
    background: #43d94d;
    border-radius: 50%;
    transform: rotate(320deg);
}